{% extends "layout.html" %}
{% block title %} Index {% endblock %}

{% block main %}
    <div class="bg-custom">
        <h3 style="color: white">Welcome Back!</h3>
    </div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Doctor in Charge</th>
                <th scope="col"> Patient</th>
                <th scope="col"> Email</th>
                <th scope="col"> Study Type</th>
                <th scope="col"> Price</th>
                <th scope="col"> Day</th>
                <th scope="col"> Month</th>
                <th scope="col"> Year</th>
            </tr>
        </thead>
        <tbody>
            {% for row in logs %}
            <tr>
                <td>{{row.doctorsName}}</td>
                <td>{{row.name}}</td>
                <td>{{row.email}}</td>
                <td>{{row.type}}</td>
                <td>$ {{row.price}}</td>
                <td>{{row.day}}</td>
                <td>{{row.month}}</td>
                <td>{{row.year}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>

{% endblock %}